test-output/
test-output/*
target/
target|/*
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.mvn/
.mvn/wrapper
*.iws
*.iml
*.ipr
mvnw
mvnw.cmd
browsers.json
generate_allure_report.sh
generate_allure_report.bat
.DS_Store
